@font-face {
    font-family: 'blackberryjam';
    src: url('../fonts/BlackberryJamPersonalUse-rXOB.ttf') format('truetype');
}

.fontJam {
    font-family: 'blackberryjam';
    src: url('../fonts/BlackberryJamPersonalUse-rXOB.ttf') format('truetype');
}

/* background image */
body {    
    background-image: url(../images/pastelbackground.png);
    background-color: rgb(255, 193, 182);
    background-size: 100vw 100vh;
}

/* center image */
.center {
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
}

#Molly_Icon_1 {
    background-image: url(../images/Molly_Icon_1.png);
    height: 50vh;
    background-repeat: no-repeat;
    background-position: center;
    /* width: 50%; */
}

#Molly_Icon_1:hover {
    background-image: url(../images/Molly_Icon_2.png);
}

/* footer tag */
footer{
    background-color: #ffffbd;
    padding: 10px;
    width: 100%;
    position: relative;
    bottom: 0px;
    font-size: 15px;
    text-align: center;
    color: rgb(255, 193, 182);
}

p{
    display: inline;
    padding: 10px 20px;
}

/* hoverlinks */

#Character_Design{
    background: url(../images/Peach\ cloud.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    font-size: 15px;
    text-align: center;
    color:#ffffbd;
}

#Sketches{
    background: url(../images/Peach\ cloud.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    font-size: 15px;
    text-align: center;
    color:#ffffbd;
}

#Digital_Art{
    background: url(../images/Peach\ cloud.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    font-size: 15px;
    text-align: center;
    color: #ffffbd;
}

#About_Me{
    background: url(../images/Peach\ cloud.png);
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 15px;
    text-align: center;
    color: #ffffbd;
}

.hoverlinks li{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: inline;
    padding: 25px;
}

/* headers */
h1{
    text-align: center;
    font-size: 75px;
    font-family: 'blackberryjam';
    color: peachpuff;
}

h3{
    text-align: center;
    font-size: 25px;
    font-family: 'blackberryjam';
    color: #ffffbd;
}

#formContainer{
    width: 50vw;
    margin:auto;
}