@font-face {
    font-family: 'blackberryjam';
    src: url('../fonts/BlackberryJamPersonalUse-rXOB.ttf') format('truetype');
}

html,body{
    margin:0;
    padding:0;
}

.fontJam {
    font-family: 'blackberryjam';
    src: url('../fonts/BlackberryJamPersonalUse-rXOB.ttf') format('truetype');
}

/* background image */
body {    
    background-image: url(../images/pastelbackground.png);
    background-color: rgb(255, 193, 182);
    max-height: 100vh;
    z-index: 0;
}
/* 
body{
    max-height: 100vh;
} */

#container{
    display: grid;
    grid-template-columns: auto auto auto 45vw auto auto auto ; 
    grid-template-rows: repeat(6, 1fr) ; 
    height: 100vh;
   /* define 5 columns and 4 rows: ; */
}

#colorTest{
    background-color: black;
    grid-column: 3;
    grid-row: 2;
}

/* center image */
.center {
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
}

div > a {
    font-size: 25px;
    text-align: center;
}

/* #square{
    grid-row: 1/4;
    grid-column: 4/5;
    background-color:black;
} */


#Molly_Icon_1 {
    grid-row: 1/4;
    grid-column: 4/5;
    background-image: url(../images/Molly_Icon_1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10;
    /* text-align: center; */
}

#Molly_Icon_1:hover {
    background-image: url(../images/Molly_Icon_2.png);
}

/* footer tag */
footer{
    height: 30px !important;
    grid-row: 5;
    grid-column: 1/-1;
    background-color: #ffffbd;
    text-align: center;
    color: rgb(255, 193, 182);
}

p{
    display: inline;
    padding: 10px 20px;
    font-size: 25px;
    text-align: center;
}

/* hoverlinks */

#Character_Design{
    grid-row: 2;
    grid-column: 3;
    background: url(../images/peach_cloud.png);
    background-repeat: no-repeat;
    background-size: contain;
    /* background-size: cover; */
    background-position: center;
    font-size: 15px;
    text-align: center;
    color:#ffffbd;
}

#Sketches{
    grid-row: 3;
    grid-column: 2;
    background: url(../images/peach_cloud.png);
    background-repeat: no-repeat;
    background-size: contain;
      /* background-size: cover; */
    background-position: center;
    font-size: 15px;
    text-align: center;
    color:#ffffbd;
}

#Digital_Art{
    grid-row: 3;
    grid-column: 6;
    background: url(../images/peach_cloud.png);
    background-repeat: no-repeat;
    background-size: contain;
      /* background-size: cover; */
    background-position: center;
    font-size: 15px;
    text-align: center;
    color: #ffffbd;
}

#Photography{
    grid-row: 2;
    grid-column: 5;
    background: url(../images/peach_cloud.png);
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 15px;
    background-position: center;
    text-align: center;
    color: #ffffbd;
}

.hoverlinks li{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: inline;
    padding: 25px;
}



/* headers */
h1{
    text-align: center;
    font-size: 75px;
    font-family: 'blackberryjam';
    color: peachpuff;
}

h3{
    text-align: center;
    font-size: 25px;
    font-family: 'blackberryjam';
    color: #ffffbd;
}

#formContainer{
    width: 50vw;
    margin:auto;
}