p {
    text-align: center;
    font-size: small;
    font-family: 'blackberryjam';
    src: url('fonts/BlackberryJamPersonalUser-rXOB.ttf') format('truetype')
}

body {
    background-color: rgb(255, 193, 182);
    background-image: url("images/pastelbackground.png");
    background-size: 100% 100%;
}

h1 {
    text-align: center;
    font-size: x-large;
    font-family: 'blackberryjam';
    color: #ffffbd
}

h3 {
    text-align: center;
    font-size: large;
    font-family: 'blackberryjam';
    color: #ffffbd
}

.font {
    font-family: 'blackberryjam';
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}