@font-face {
    font-family: 'blackberryjam';
    src: url('../fonts/BlackberryJamPersonalUse-rXOB.ttf') format('truetype')
}

.font {
    font-family: 'blackberryjam';
    src: url('../fonts/BlackberryJamPersonalUse-rXOB.ttf') format('truetype')
}

body {    
    background-image: url("images/pastelbackground.png");
    background-color: rgb(255, 193, 182);
    background-size: 100% 100%;
}

.container{
    position: relative;
    width: 50%;
}

.image{
    width: 100%;
    height: auto;
}

.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: peachpuff;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: .3s ease;
}

.container:hover .overlay{
    transform: scale(1);
}

.text{
    color: #ffffbd
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

footer{
    background-color: peachpuff;
    padding: 20px;
    width: 100%;
    position: rel;
    bottom: 20px;
}

h1 {
    text-align: center;
    font-size: xx-large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: peachpuff;
}

h2 {
    text-align: left;
    font-size: medium;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: peachpuff;
}

h3 {
    text-align: left;
    font-size: small;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffbd;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}